*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#5D4037,#8D6E63);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image: url("images/images.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
width:100%;
display:flex;
justify-content:center;
}

.logo{
    width:180px;
    display:block;
    margin:0 auto 15px;
}

.login-box{
background:#fff;
padding:35px;
width:370px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.3);
}

h1{
text-align:center;
color:#5D4037;
}

p{
text-align:center;
margin-bottom:25px;
}

.input-box{
position:relative;
margin:18px 0;
}

.input-box input{
width:100%;
padding:12px 40px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

.input-box .fa-envelope,
.input-box .fa-lock{
position:absolute;
left:12px;
top:14px;
color:#777;
}

#eye{
position:absolute;
right:12px;
top:14px;
cursor:pointer;
color:#777;
}

.options{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:20px;
}

.options a{
text-decoration:none;
color:#5D4037;
}

button{
width:100%;
padding:12px;
background:#5D4037;
color:#fff;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#3E2723;
}